.PostPage .posts-container > div {
    margin: 0 auto;
}

.Post {
    position: relative;
    margin: 0 20px 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    width: 280px;

    // // Set item width for columns
    // @media screen and ( max-width: 1280px ) {
    //     width: calc( (100% - 100px) / 4 );
    // }
    // @media screen and (min-width: 1281px ) and ( max-width: 1600px ) {
    //     width: calc( (100% - 100px) / 5 );
    // }

    // @media screen and (min-width: 1601px ) {
    //     width: calc( (100% - 100px) / 9 );
    // }

    /**
     * Normal posts on wall
     */

    .message-wrapper {
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: calc(100% - 60px);
        border-radius: 20px 20px 0 0;

        p {
            font-size: 16px;
            color: $dark;
            line-height: 26px;
            margin: 0;
            padding: 20px;

            img {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    .user-wrapper {
        bottom: 0;
        width: 100%;
        position: relative;
        background-color: white;
        border-radius: 0 0 20px 20px;

        .avatar-wrapper {
            border-radius: 50%;
            border: 4px solid $light;
            width: 44px;
            height: 44px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
            background-color: $primary;

            .avatar {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
            }
        }

        .details {
            display: inline-block;
            vertical-align: middle;
            line-height: 12px;
            max-width: 75%;

             h4 {
                 margin: 0;
                 color: $dark;
                 font-size: 14px;
                 font-family: $font-family-sans-serif;
             }
             span.timestamp {
                 color: $dark;
                 text-transform: uppercase;
                 font-size: 10px;
             }
        }

        span.identifier {
           color: $gray;
           font-size: 8px;
           position: absolute;
           bottom: 9px;
           right: 9px;
       }
    }

    &.with-image {

        .message-wrapper {

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 20px 20px 0 0;
            }

            .message {
                padding: 20px 20px 5px;
                background: white;
            }
        }
    }

    /**
     * Highlighted post
     */
    &.highlight {
        top: 50%;
        left: 50%;
        height: 80%;
        width: 80%;
        position: fixed;
        border-radius: 40px;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);

        &.no-image  {
            @media screen and (min-height: 901px) {

                width: 50%;

                p {
                    font-size: 50px!important;
                    line-height: 64px!important;
                }
            }
        }

        .message-wrapper {

            min-height: 0;
            display: flex;
            height: calc(100% - 250px);
            border-radius: 40px 40px 0 0;
            padding: 40px;
            @media screen and (max-height: 720px) {
                height: calc(100% - 150px);
            }

            .message {
                width: 50%;
                flex: 1 1 50%;
                background: none;
                padding: 0 0 0 20px;
            }

            p {
                font-size: 40px;
                line-height: 52px;
            }

            &.no-text {
                img {
                    left: 50%;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    position: relative;
                    border-radius: 20px;
                    transform: translateX(-50%);
                }
            }

            &.with-text {

                img {
                    width: auto;
                    height: 100%;
                    max-width: 50%;
                    border-radius: 20px;

                    & ~ p {
                        font-size: 30px;
                        line-height: 1.4;
                    }

                    & ~ .message {
                        padding-left: 40px;
                    }
                }

            }
        }

        .user-wrapper {

            height: 250px;
            position: relative;
            border-radius: 0 0 40px 40px;
            @media screen and (max-height: 720px) {
                height: 150px;
            }

            .avatar-wrapper {
                top: 50%;
                position: absolute;
                left: 40px;
                transform: translateY(-50%);
                width: 180px;
                height: 180px;
                @media screen and (max-height: 720px) {
                    width: 120px;
                    height: 120px;
                }
            }

            .details {
                position: absolute;
                left: calc(40px + 180px + 50px);
                top: 50%;
                transform: translateY(-50%);

                h4 {
                    font-size: 64px;
                    line-height: 1;
                    margin-bottom: 9px;
                    line-height: 64px;
                    @media screen and (max-height: 720px) {
                        font-size: 48px;
                        line-height: 48px;
                    }
                }

                span.timestamp {
                    font-size: 28px;
                    line-height: 44px;
                }
            }

            span.identifier {
                font-size: 26px;
                bottom: 20px;
                right: 20px;
            }
        }
    }

}
