@import url( 'https://use.typekit.net/ueo0fjw.css' );

html {
   height: 100%; // need this set for overlays to respond correctly with full height
}



body.reply-live-takeover {
    margin: 0;
    padding: 0;
    height: 100%; // set to % instead of vh for mobile correct stuff with address bar etc.
    //height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch!important;

    & > * {
       display: none;
       visibility: hidden;
    }

    #replyLive {
       display: block !important;
       visibility: visible !important;

        .page-wrapper {
        }

        .game-wrapper {
            margin: 47px 15px 15px;
            position: relative;
        }
    }
}

#replyLive {
    @import 'general/variables';
    @import 'general/fonts';
    @import 'utils/index';
    @import 'general/loader';

    @import 'games/index';
    @import 'layout/index';
    @import 'post/index';

    display: none;
    position: relative;
    z-index: 100000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; // set to % instead of vh for mobile correct stuff with address bar etc.
    margin: 0;
    overflow: hidden;

    @include backgroundImage('/images/BG_mobile.png', cover);
    background-color: #fff;
    //background-attachment: fixed;

    // causes jitter on on old iphones
    //-webkit-overflow-scrolling: touch;

    *, *:before, *:after {
        box-sizing: border-box;
    }

    // special fix for survey/curve when showing >4 abcd answers and then >4 abcd-multiple answers after that
    // only affects ios.. weird bug
    .page-wrapper.survey, .page-wrapper.curve, {
        height: 100%;
    }

    .App {
        /**
        TODO add 'position: relative;' to child elements in future for better description of all element positions to prevent weird bugs on weird devices
         */
        position: relative;
        height: 100%;
        //padding: 0 15px 100px 15px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch!important;
        margin: 0 auto;
        width: 100%;

        &.custom-bg {
            transition: background-color 0.35s ease-out;
            background-image: none;
        }

        &.a {
            background-color: $blue;
        }

        &.b {
            background-color: $orange;
        }

        &.c {
            background-color: $pink;
        }

        &.right {
            background-color: $success;
        }

        &.wrong {
            background-color: $danger;
        }

        @media only screen and (min-width: 769px) {
            position: absolute;
            right: 0;
        }
    }
}
