html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('/images/BG_display.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:  0;
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  &.danger {
    background-color: rgba($danger, .7);
  }

  &.success {
    background-color: rgba($success, .7);
  }

  &.warning {
    background-color: rgba($warning, .7);
  }

  &.info {
    background-color: rgba($info, .7);
  }
}