@import './../user/general/variables';
@import './../user/general/fonts';
@import './../user/utils/mixins';

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    color: $white;

    font-family: $font-family-sans-serif;
}
*, *:after, *:before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, span, a {
    padding: 0;
    margin: 0;

    color: $white;
}

.container-fluid.container--scanner {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 80px;

    @include backgroundImage('/images/bg_desktop2.jpg', cover);

    .scan-content {
        position: relative;
        padding: 80px 0 40px;
        max-width: 1024px;
        margin: 0 auto;

        h1 {
            font-size: 36px;
            font-weight: 500;
        }

        label {
            font-size: 26px;
            margin-bottom: 10px;
            font-weight: 300;
        }

        input {
            outline: none;
            margin-top: 20px;
            height: 36px;
            width: 200px;
        }

        #barcode {
            background-color: $white;
            color: $input-color;
            border: 1px solid $input-border-color;
            border-radius: $input-border-radius;

            padding-left: 6px;
        }

        input[type=submit]{
            background-color: $primary;
            color: $white;
            border-radius: $input-border-radius;
            border: none;
            cursor: pointer;
        }
    }
}


#scanResult {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;

    text-align: center;
    padding: 80px 160px;

    opacity: 0;
    max-height: 0;
    background-color: transparent;

    transition: opacity .1s linear, max-height 0s .1s linear, background-color 0s .1s linear;

    font-size: 26px;

    &.error{
        background-color: $red;
    }
    &.warning{
        background-color: $orange;
    }
    &.success{
        background-color: $success;
    }

    &.show {
        max-height: 100%;
        opacity: 1;

        transition: opacity .1s linear, max-height 0s 0s linear, background-color 0s 0s linear;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: opacity .2s .3s linear, height 0s 0s linear;

    &.hidden {
        opacity: 0;
        height: 0;

        transition: opacity .2s linear, height 0s .2s linear;
    }

    .loader-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        -webkit-animation: rotating 1s linear infinite;
        -moz-animation: rotating 1s linear infinite;
        -ms-animation: rotating 1s linear infinite;
        -o-animation: rotating 1s linear infinite;
        animation: rotating 1s linear infinite;
    }
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}