$FXblue: #2967AC;

@import './vendor/laravel/framework/src/Illuminate/Foundation/Console/Presets/bootstrap-stubs/variables';
@import 'elements/badge';
@import 'components/user-table';

.lightgrey {
    color: #999;
}

body {
    padding-top: 70px;
}

form.inline-form {
    display: inline;
    margin: 0;
}

.branding {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 380px;
    margin-top: -20px;
    margin-bottom: 25px;
}

// Navigation
.navbar-fixed-top {
    background: $FXblue;
    .navbar-brand, .navbar-brand:hover {
        color: white;
    }

    ul {
        margin-top: 10px;
        li {
            display: inline-block;

            a {
                color: white !important;
                padding: 5px 10px;
                display: block;
            }
        }
    }
    .navbar-nav {
        a {
            color: white !important;
        }
        li.dropdown {
            ul.dropdown-menu {
                margin-top: 0;
                a {
                    color: $FXblue !important;
                }
            }
        }
    }
}

// Show bootstrap dropdown on hover
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

// Table properties
.table {
    tfoot {
        td {
            text-align: left;
        }
    }
}

// Panels
.panel-default {
    .panel-heading {
        border-radius: 0;
        background: lighten($FXblue, 15);
        color: white;
    }
    ul.list-group {
        li {
            padding-left: 33px;
        }
    }
}

.list-group-heading {
    background-color: #eeeeee;
}

.list-group-item span {
    position: relative;
    top: 1px;
}

.text-muted {
    margin-right: 10px;
}

div.pagination {
    width: 100%;
    text-align: center;
}

.panel-uploader {
    border-bottom: solid 1px #ddd;
    .btn {
        width: 100%;
    }
}

// Posts
tr.greyed-out {
    color: lighten(black, 70);
}

// Modal (Users)
#users {
    input {
        width: 85% !important;
    }
    textarea {
        width: 85%;
        height: 250px;
    }

    .progress-stats {
        margin: 40px 0 20px;
        text-align: center;
        font-size: 18px;
    }
}

// Modal (Quiz)
.questions {
    list-style-type: decimal-leading-zero;

    .question {
        text-align: left;
        border-bottom: solid 1px #ddd;
        padding: 10px 6px;
        transition: background .1s ease-in;

        &:first-child {
            border-top: solid 2px #ddd;
        }

        &:hover {
            background-color: #efefef;
        }
    }
}

.add-question {
    margin-top: 10px;
    padding-right: 0;
}

#questionNavigation {
    text-align: center;
    a {
        border-radius: 5px;
        display: inline-block;
        padding: 5px 10px;
        margin: 2px;
        color: #666;
        border: solid 1px #ccc;
        text-decoration: none;

        &.old {
            cursor: pointer !important;
        }

        &.active,
        &:hover {
            color: white;
            background-color: #337ab7;
            border: solid 1px #2e6da4;
            cursor: default;
        }

        &.new {
            &:hover {
                background-color: transparent;
                border: solid 1px #ccc;
                color: #666;
                cursor: default;
            }
        }
    }
}

#Question {
    form {
        margin: 0 15px;

        .image {
            width: 400px;
            height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

#quiz {
    .question-counter {
        display: block;
    }
    .question-name {
        margin-top: 25px;
        display: block;
        font-weight: bold;
    }

    .question-answers {
        margin: 10px;
        li {
            padding-left: 10px;
        }
    }

    .modal-actions {
        text-align: center;
    }

    .quiz-start {
        width: 160px;
        margin: 50px auto;
        display: block;
    }
}

.tab-pane {
    margin-top: 30px;
}
.list-group-item .btn-link {
    margin: 0;
    padding: 0;
    border: 0;
}

.group-addon-icon {
    cursor: pointer;
}

.add-more-btn {
    width: 50px;
    height: 30px;
    border-radius: 4px;
    border: dashed #ccc 1px;
    text-align: center;
    margin-left: 15px;
    padding: 3px 0;
    cursor: pointer;
}

.select-all {
    cursor: pointer;
}

.user-row {
    cursor: pointer;

    &.disabled {
        background: repeating-linear-gradient(-55deg,#eee,#eee 3px,#ccc 6px,#ccc 7px);
        color: rgba(0,0,0,0.6);
    }
}

.filters {
    margin: 0 0 20px 0;
    .center {
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        cursor: pointer;
    }
}
//
//.send-to-list__table .user-row.disabled {
//    //background-color: #ddd;
//}

.tab {
    &-list {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
}


.info-icon {
    text-decoration: none;

    span {
        position: absolute;
        top: 28px;
        left: -20px;
        z-index: 2;
        display: none;
        padding: 12px;
        width: 280px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 5px 4px rgba(0,0,0,.1);
        color: #333;
        font-size: 14px;
        line-height: 16px;

        font-family: "Raleway", sans-serif;
    }

    &:hover {
        text-decoration: none;

        span {
            display: block;

            &:after {
                position: absolute;
                top: -20px;
                left: 18px;
                display: block;
                width: 0;
                height: 0;
                border: 10px solid;
                border-color: transparent transparent #fff;
                content: "";
            }
        }
    }
}

.breadcrumb-footer {
    margin-top: 25px;
}

.setup {
    margin: 0 0 20px;

    &-container  {
        .col-xs-6:first-of-type {
            min-height: 500px;
            padding: 20px 50px;
            //background-color: #eee;


        }

        .col-xs-6:last-of-type {
            h3 {
                margin: 20px 0;
            }

            box-shadow: 0px 8px 27px -6px #000;
        }

        .send-to-list {
            margin-top: 20px;
            min-height: 500px;
            max-height: 500px;
            height: 100%;
            overflow-y: scroll;
        }

    }

    &-choices {
        padding: 0 0 50px;


        .tab-item {
            background-color: #F8F8F8;
            padding: 20px;
            margin: 0 5px;
            min-height: 150px;
            width: 150px;

            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: #F8F8F8;
            }

            &.active {
                background-color: rgba(#5cb85c, .6);
            }
        }
    }

    &-tab-item {
        padding: 0;
    }

    &-paste {
        .btn {
            margin: 20px 0;
        }
    }

    &-header {


        h3 {
            margin-bottom: 40px;
        }
    }
}

a.btn {
    margin: 2px 4px 2px 0;
    .glyphicon {
        margin: 2px 3px 0 3px;
    }
}

.btn-importfile {
    margin-bottom: 8px;
}



.setup-users {
    .send-to-list__table {
        .user-row {
            &:hover {
                .glyphicon-remove {
                    display: block;
                }
            }
        }
    }


}
.setup-tab-item {
    .glyphicon-remove {
        display: none;
        color: red;
    }
}

/* Loading animation */

.waiting-for-response {
    overflow: hidden;
    min-height: 90px;
    margin: 0 -15px;
}

.boxLoading {
    width: 50px;
    height: 50px;
    margin: auto;
    //position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &:before {
        content: '';
        width: 50px;
        height: 5px;
        background: #000;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
        animation: shadow .5s linear infinite;
    }
    &:after {
        content: '';
        width: 50px;
        height: 50px;
        background: $FXblue;
        animation: animate .5s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
    }
}

#statistics {
    position: absolute;
    right: 20px;
    top: 70px;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 10px;
    border: dashed white 1px;
    max-width: 300px;

    .stat-row {
        position: relative;
        float: left;
        padding: 2px 10px;
        width: 100%;
    }
}

#notifications {
    position: fixed;
    top: 70px;
    left: 30px;
    width: 300px;
    height: auto;
    z-index: 3000;

    .card {
        position: relative;
        width: 100%;
        left: -330px;
        opacity: 0;
        padding: 10px 35px 10px 10px;
        cursor: pointer;
        transition: all .75s ease;
        z-index: 99;
        margin-top: 6px;

        &.show {
            left: 0;
            opacity: 1;
        }

        &:after {
            content: "\d7";
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 10px;
            border: solid 1px white;
            border-radius: 50%;
            text-align: center;
            line-height: 16px;
        }

        &--error {
            border: solid white 1px;
            background-color: #c32323;
            color: white;
        }
    }
}

#reload
{
    width: 50px;
    height: 50px;
    margin: 30px auto;
    position: relative;
}

.outer-shadow, .inner-shadow
{
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.inner-shadow
{
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 100%;
    background-color: #ffffff;
}
.hold
{
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 50px, 50px, 25px);
    border-radius: 100%;
    background-color: #fff;
}

.fill, .dot span
{
    background-color: #f50;
}

.fill
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 25px, 50px, 0px);
}

.left .fill
{
    z-index: 1;
    animation: left 6s linear both;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.right .fill
{
    z-index: 3;
    animation: right 6s linear both ;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes left
{
    0%{-webkit-transform:rotate(0deg);}
    25%{transform:rotate(180deg);}
    75%{transform:rotate(180deg);}
    100%{transform:rotate(0deg);}
}


.right
{
    z-index: 3;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}


@keyframes right
{
    0%{-webkit-transform:rotate(0deg);}
    25%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(0deg);}
    100%{transform:rotate(0deg);}
}


.boxLoadingContainer {
    animation: travel 3s linear infinite;
    width: 100%;
    left: 0;
}

tr.highlighted {
    background-color: #dfedff !important;
}

#nodeServerStatusModal {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: inline-block;
    padding: 10px;
    font-family: monospace;
    position: fixed;
    right: 0;
    top: 30px;

    p {
        margin: 5px;
    }

    h2 {
        font-size: 18px;
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes  travel {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(110%);

    }
}


@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

@import 'v3-overwrite';
