@mixin react-animation-opacity($name) {
    .#{$name}-appear, .#{$name}-enter {
        opacity: 0.01;
    }

    .#{$name}-appear.#{$name}-appear-active, .#{$name}-enter.#{$name}-enter-active {
      opacity: 1;
      transition: opacity .5s ease-in;
    }

    .#{$name}-leave {
      opacity: 1;

      &-active {
          opacity: 0.01;
          transition: opacity 300ms ease-in;
      }
    }
}
