h1, h2, h3, h4, h5, h6, p, span {
    font-family: $font-family-sans-serif;
    margin: 0;
}

h2 {
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: normal;
}

p {
    font-size: 14px;
}
