.ABCD {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.LearningCurvePage {

    .SubmitButton {
        position: relative;
        bottom: initial;
        left: initial;
        width: auto;
    }
}
