.AnswerOutcome {
    position: relative;
    padding-top: 90px;
    text-align: center;
    width: 80%;
    margin: 0 auto;

    img {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: 24px;
        color: $white;
        margin-bottom: 6px;
        margin-top: 20px;
    }

    p {
        color: $white;
        font-size: 16px;
        margin: 0;
    }
}
