.text-wrapper {
    text-align: center;
    h2 {
        font-size: 24px;
        color: $white;
        margin-bottom: 6px;
        margin-top: 12px;
    }
    p {
        color: $white;
        font-size: 16px;
        line-height: 19px;
        font-family: $font-family-sans-serif;
        margin-bottom: 50px;
    }
}
