.OpenAnswer {
    textarea {
        width: 100%;
        border-radius: 10px;
        font-size: 16px;
        color: $dark;
        padding: 15px;
        min-height: 175px;
        font-family: $font-family-sans-serif;
    }
    .chars-left {
        color: white;
        text-align: right;
        margin-top: 5px;
    }
}
