.Question {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;

    p {
        padding: 15px;
        text-align: center;
        font-size: 16px;
        font-family: $font-family-sans-serif;
        margin-top: 0;
        margin-bottom: 20px;
        color: $white;
    }
}
