.ScoreBoard {
    .score-container {
        .score {
            height: 54px;
            position: relative;

            h3 {
                color: #000;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }

            span {
                color: #000;
                font-size: 20px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .score.current {
            border-radius: 10px 10px 0 0;
            background-color: $white;

            h3, span {
                font-weight: bold;
            }
        }
        .score.previous {
            border-radius: 0 0 10px 10px;
            background-color: rgba($white, 0.8);
            h3 {
                font-weight: normal;
            }
        }
    }
}
