table {



    tr.more {
        display: none;

        td {
            border-top: 0;
            line-height: 3;

            &.actions {
                text-align: right;
            }
        }

        &.open {
            display: table-row;
        }
    }

    tr.open {
        background: darken( #f5f8fa, 10% )!important;
    }
}