.Error {
    position: fixed;
    background-color: red;
    text-align: center;
    color: white;
    position: fixed;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    left: 0;
}
