.Post {
    width: 100%;
    margin-bottom: 20px;

    .header {
        background-color: $white;
        position: relative;
        border-radius: 20px 20px 0 0;
        padding: 12px 15px;

        .image-wrapper {
            border-radius: 50%;
            width: 62px;
            height: 62px;
            border: 4px solid $light;
            overflow: hidden;
            background-color: $primary;

            .avatar {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
            }
        }

        .details {
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);

            .name {
                font-family: $font-family-sans-serif;
                color: $dark;
                font-size: 18px;
            }

            .timestamp {
                text-transform: uppercase;
                color: $dark;
                font-size: 14px;
            }
        }
    }

    .message {
        background-color: rgba($light, 0.8);
        padding: 14px 20px;
        box-shadow: 0 0 30px 0 $dark;
        border-radius: 0 0 20px 20px;

        p {
            color: $dark;
            font-size: 15px;
        }

        img {
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
        }
    }

    &.unapproved {
        opacity: 0.3;
    }
}
