.AnswerTotal {
    width: 175px;
    height: 175px;
    top: 210px;
    left: 8px;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
    display: inline-block;

    .text-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-family: monospace;
        text-align: center;

        .total-users {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
