.BalloonPage {
    position: relative;
}

.Balloon {
    background-image: url('/images/pledge-balloon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24%;
    height: 70%;
    bottom: 0;
    transform: scale(0.2);
    left: 25%;
    position: absolute;
}

.StaticBalloon {
    background-image: url('/images/sponsor-balloon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 90%;
    top: 0;
    left: 55%;
    margin: 0 auto;
    position: absolute;
}
