.game-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;

    .text-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        p {
            font-size: 60px;
            text-align: center;
        }
    }
}
