@keyframes moveTop {
    0% { transform: scale(1); top: calc(50% - #{$header-height}); }
    100% { transform: scale(0.5); top: -90px; }
}

.OpenQuestionPage {
    height: calc(100vh - #{$header-height} - #{$header-height});
    position: relative;

    .answers {
        height: 100%;
        transition: filter 0.4s ease-out;
        position: relative;

        .zone {
            width: calc(50% - 4px);
            height: calc(50% - 4px);
            display:inline-block;
            position: relative;
        }

        // used for debugging
        // .zone:nth-child(1) {
        //     border: 2px solid #ff0;
        // }
        // .zone:nth-child(2) {
        //     border: 2px solid #00f;
        // }
        // .zone:nth-child(3) {
        //     border: 2px solid #0f0;
        // }
        // .zone:nth-child(4) {
        //     border: 2px solid #fff;
        // }
    }

    &.highlight {
        .answers {
            filter: blur(15px);
        }
    }

    .question-wrapper {
        width: 100%;
        position: absolute;
        top: calc(50% - #{$header-height});
        transform: translateY(-50%);

        .Question p {
            font-size: 56px;
            padding: 66px 50px;
            text-align: center;
        }

        &.with-answers {
            animation: moveTop 1.0s forwards;
        }
    }
}
