.PledgePage {
    .pledge-container {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 240px;

        h2 {
            font-size: 34px;
            font-family: $font-family-sans-serif;
            margin-bottom: 10px;
        }

        .Pledge {
            font-size: 20px;
            font-weight: 300;

            p {
                margin: 0;
                font-family: $font-family-sans-serif;
            }

            &.fade-appear {
              opacity: 0.01;
            }

            &.fade-appear.fade-appear-active{
              opacity: 2;
              transition: opacity 500ms ease-in;
            }

            &.fade-leave {
              opacity: 1;
            }

            &.fade-leave.fade-leave-active{
              opacity: 0.01;
              transition: opacity 300ms ease-in;
            }

        }
    }

    .logo-wrapper {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
